.dropdownmenu ul, .dropdownmenu li {
	margin: 0;
	padding: 0;
}

.dropdownmenu ul {
	background: #f00;
	list-style: none;
	width: 100%;
	display: inline-block;
}

.dropdownmenu li {
	float: left;
	position: relative;
	width: 20%;
}

.dropdownmenu a {
	background: #30A6E6;
	height:40px;
	color: #FFFFFF;
	display: block;
	font: bold 17px sans-serif;
	padding: 25px 10px;
	text-align: center;
	text-decoration: none;
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-ms-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease;
}

.dropdownmenu li:hover a {
	background: #000000;
}

#submenu {
	left: 0;
	opacity: 0;
	position: absolute;
	
	visibility: hidden;
	z-index: 1;
}

li:hover ul#submenu {
	opacity: 1;
	top: 90px; /* adjust this as per top nav padding top & bottom comes */
	visibility: visible;
}

#submenu li {
	float: none;
	width: 100%;
	
}

#submenu a:hover {
	background: #DF4B05;
}

#submenu a {
	height:40px;
	padding: 10px 0px;
	background-color: #000000;
	font: 15px sans-serif;
	text-align: center;
}

#left {
	float: left;
	width: 371px;
	height:90px;
	
	
	
}

#content {
	
	margin-left: 371px; /*==µÈÓÚ×ó±ßÀ¸¿í¶È==*/
	height:90px;
	background: #30A6E6;
}
