<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>添加编辑 多节锂电保护IC</title>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <link rel="stylesheet" href="css/bootstrap.css"  th:href="@{css/bootstrap.css}" type="text/css"/>
</head>
<body class="container">
<br />
<h1>添加编辑 多节锂电保护IC</h1>
<br /><br />
<div class="with:80%">
    <form class="form-horizontal" method="post" action="/MultiSectionAddEdit" th:object="${ciji}" >
    <input type="hidden" name="id" th:value="*{id}" />
        <div class="form-group">
            <label for="name" class="col-sm-2 control-label">产品型号</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="partnum" id="partnum" th:value="*{partnum}"/>
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="col-sm-2 control-label">产品文档路径</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="pdf" id="pdf"  th:value="*{pdf}"/>
            </div>
        </div>
        
            <div id="uploadForm">
    			<input id="file" type="file" name="file"/>
    			<button id="upload" type="button" onclick="fileUpload()">upload</button>
			</div>
        
        <div class="form-group">
            <label for="password" class="col-sm-2 control-label">封装形式</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="package2" id="package2"  th:value="*{package2}"/>
            </div>
        </div>
        <div class="form-group">
            <label for="age" class="col-sm-2 control-label">功耗ICC</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="zhengchanggonghao" id="zhengchanggonghao"  th:value="*{zhengchanggonghao}"/>
            </div>
        </div>
        <div class="form-group">
            <label for="age" class="col-sm-2 control-label">过充电检测电压</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="jiancedianyaguochongdian" id="jiancedianyaguochongdian"  th:value="*{jiancedianyaguochongdian}"/>
            </div>
        </div>
        <div class="form-group">
            <label for="age" class="col-sm-2 control-label">过充电解除电压</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="jiechudianyaguochongdian" id="jiechudianyaguochongdian"  th:value="*{jiechudianyaguochongdian}"/>
            </div>
        </div>
        <div class="form-group">
            <label for="age" class="col-sm-2 control-label">过放电检测电压</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="jiancedianyaguofangdian" id="jiancedianyaguofangdian"  th:value="*{jiancedianyaguofangdian}"/>
            </div>
        </div>
        <div class="form-group">
            <label for="age" class="col-sm-2 control-label">过放电解除电压</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="jiechudianyaguofangdian" id="jiechudianyaguofangdian"  th:value="*{jiechudianyaguofangdian}"/>
            </div>
        </div>
        <div class="form-group">
            <label for="age" class="col-sm-2 control-label">放电过流1检测电压</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="jiancedianya1fangdianguoliu" id="jiancedianya1fangdianguoliu"  th:value="*{jiancedianya1fangdianguoliu}"/>
            </div>
        </div>
        <div class="form-group">
            <label for="age" class="col-sm-2 control-label">放电过流2检测电压</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="jiancedianya2fangdianguoliu" id="jiancedianya2fangdianguoliu"  th:value="*{jiancedianya2fangdianguoliu}"/>
            </div>
        </div>
        <div class="form-group">
            <label for="age" class="col-sm-2 control-label">短路检测电压</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="jiancedianyaduanlu" id="jiancedianyaduanlu"  th:value="*{jiancedianyaduanlu}"/>
            </div>
        </div>
        <div class="form-group">
            <label for="age" class="col-sm-2 control-label">充电过流检测电压</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="jiancedianyachongdianguoliu" id="jiancedianyachongdianguoliu"  th:value="*{jiancedianyachongdianguoliu}"/>
            </div>
        </div>
        <div class="form-group">
            <label for="age" class="col-sm-2 control-label">平衡启动电压</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="qidongdianyapingheng" id="qidongdianyapingheng"  th:value="*{qidongdianyapingheng}"/>
            </div>
        </div>
        <div class="form-group">
            <label for="age" class="col-sm-2 control-label">放电状态检测电压</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="fangdianzhuangtaijiancedianya" id="fangdianzhuangtaijiancedianya"  th:value="*{fangdianzhuangtaijiancedianya}"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input type="submit" value="提交" class="btn btn-info" />
                &nbsp; &nbsp; &nbsp;
                <input type="hidden" value="重置" class="btn btn-info" />
            </div>

        </div>
    </form>
</div>
</body>
<script type="text/javascript">
 
	function fileUpload(){
		
		var formData = new FormData();
		formData.append('file', $('#file')[0].files[0]);
		$.ajax({
		    url: '/fileUpload3',
		    type: 'POST',
		    cache: false,
		    data: formData,
		    processData: false,
		    contentType: false
		}).done(function(res) {
		$('#pdf').val(res);
		//alert(res);
		}).fail(function(res) {
		//alert(res);
		});
	}
 
</script>
</html>
