<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>添加编辑次级保护IC</title>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <link rel="stylesheet" href="css/bootstrap.css"  th:href="@{css/bootstrap.css}" type="text/css"/>
</head>
<body class="container">
<br />
<h1>添加编辑次级保护IC</h1>
<br /><br />
<div class="with:80%">
    <form class="form-horizontal" method="post" action="/secondaryAddEdit" th:object="${ciji}" >
    <input type="hidden" name="id" th:value="*{id}" />
        <div class="form-group">
            <label for="name" class="col-sm-2 control-label">产品型号</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="partnum" id="partnum" th:value="*{partnum}"/>
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="col-sm-2 control-label">产品文档路径</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="pdf" id="pdf"  th:value="*{pdf}"/>
            </div>
        </div>
        
            <div id="uploadForm">
    			<input id="file" type="file" name="file"/>
    			<button id="upload" type="button" onclick="fileUpload()">upload</button>
			</div>
        
        <div class="form-group">
            <label for="password" class="col-sm-2 control-label">封装形式</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="package2" id="package2"  th:value="*{package2}"/>
            </div>
        </div>
       
        <div class="form-group">
            <label for="age" class="col-sm-2 control-label">过充阀值(v)</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="guochongfazhi" id="guochongfazhi"  th:value="*{guochongfazhi}"/>
            </div>
        </div>
        <div class="form-group">
            <label for="age" class="col-sm-2 control-label">过放阀值(v)</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="guofangfazhi" id="guofangfazhi"  th:value="*{guofangfazhi}"/>
            </div>
        </div>
        <div class="form-group">
            <label for="age" class="col-sm-2 control-label">放电过流阀值(v)</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="fangdianguoliufazhi" id="fangdianguoliufazhi"  th:value="*{fangdianguoliufazhi}"/>
            </div>
        </div>
        <div class="form-group">
            <label for="age" class="col-sm-2 control-label">充电过流阀值(v)</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="chongdianguoliufazhi" id="chongdianguoliufazhi"  th:value="*{chongdianguoliufazhi}"/>
            </div>
        </div>
        <div class="form-group">
            <label for="age" class="col-sm-2 control-label">过充保护延时(s)</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="guochongbaohuyanchi" id="guochongbaohuyanchi"  th:value="*{guochongbaohuyanchi}"/>
            </div>
        </div>
        <div class="form-group">
            <label for="age" class="col-sm-2 control-label">过放保护延时(ms)</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="guofangbaohuyanchi" id="guofangbaohuyanchi"  th:value="*{guofangbaohuyanchi}"/>
            </div>
        </div>
        <div class="form-group">
            <label for="age" class="col-sm-2 control-label">放电过流保护延时(ms)</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="fangdianguoliubaohuyanchi" id="fangdianguoliubaohuyanchi"  th:value="*{fangdianguoliubaohuyanchi}"/>
            </div>
        </div>
        <div class="form-group">
            <label for="age" class="col-sm-2 control-label">充电过流保护延时(ms)</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="chongdianguoliubaohuyanchi" id="chongdianguoliubaohuyanchi"  th:value="*{chongdianguoliubaohuyanchi}"/>
            </div>
        </div>
        <div class="form-group">
            <label for="age" class="col-sm-2 control-label">正常功耗(uA)</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="zhengchanggonghao" id="zhengchanggonghao"  th:value="*{zhengchanggonghao}"/>
            </div>
        </div>
        <div class="form-group">
            <label for="age" class="col-sm-2 control-label">休眠功耗(uA)</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="xiumiangonghao" id="xiumiangonghao"  th:value="*{xiumiangonghao}"/>
            </div>
        </div>
        <div class="form-group">
            <label for="age" class="col-sm-2 control-label">休眠自恢复</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="xiumianzihuifu" id="xiumianzihuifu"  th:value="*{xiumianzihuifu}"/>
            </div>
        </div>
        <div class="form-group">
            <label for="age" class="col-sm-2 control-label">OV充电</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="oychongdian" id="oychongdian"  th:value="*{oychongdian}"/>
            </div>
        </div>
        <div class="form-group">
            <label for="age" class="col-sm-2 control-label">漏源间击穿电压（v)</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="louyuanjianjichuandianya" id="louyuanjianjichuandianya"  th:value="*{louyuanjianjichuandianya}"/>
            </div>
        </div>
        <div class="form-group">
            <label for="age" class="col-sm-2 control-label">RSS(ON)@3.9V(mO)</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="rss" id="rss"  th:value="*{rss}"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input type="submit" value="提交" class="btn btn-info" />
                &nbsp; &nbsp; &nbsp;
                <input type="hidden" value="重置" class="btn btn-info" />
            </div>

        </div>
    </form>
</div>
</body>
<script type="text/javascript">
 
	function fileUpload(){
		
		var formData = new FormData();
		formData.append('file', $('#file')[0].files[0]);
		$.ajax({
		    url: '/fileUpload3',
		    type: 'POST',
		    cache: false,
		    data: formData,
		    processData: false,
		    contentType: false
		}).done(function(res) {
		$('#pdf').val(res);
		alert(res);
		}).fail(function(res) {
		alert(res);
		});
	}
 
</script>
</html>
